<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<address>
	<div style="float: left; margin-right: 10px; border-right: 1px solid black; padding-right: 20px;">
		<h4>Warehouse/Lab Address</h4>
		<%= site_name_bold %><br>
		4998 SE Briar Court<br>
		Milwaukie, OR 97267<br>
		503.449.8357
	</div>
	<div style="float: left; margin-left: 10px;">
		<h4>Mailing Address</h4>
		<%= site_name_bold %><br>
		4230 SE King Rd. PMB 300<br>
		Milwaukie, OR 97222<br>
		503.449.8357
	</div>

	<br><br><br><br>
	<br><br><br>
	<p>Email: <a href="mailto:bitbybitrecycling@gmail.com">bitbybitrecycling@gmail.com</a></p>
	<div>
	<img src="<%= image_path('map.png') %>" width="420px">
	</div>
</address>