<% provide(:title, 'Involvement') %>
<h1>Get Involved</h1>
<h2>Volunteer</h2>
<p><strong><%= site_name_short %></strong> is in need of volunteers.</p>
<p>You do not need a computer background to contribute to Free Geek as a volunteer. We encourage people from all backgrounds to get involved. Whether you want to learn, perform community service, get school credit, earn a computer or support the cause(s), we have room for you!</p>
<h2>How to Volunteer</h2>
<p>Contact us to find out when the next volunteer orientation tour will be held. <%= link_to "Learn more.".html_safe, contact_path %></p>
<h2>Volunteer Guidelines</h2>
<h4>Safety</h4>
Your safety is very important to us.<br>
<h5>Please:</h5>
<ul>

<li>wear the provided safety equipment, such as gloves, goggles, dust
masks and ear protection as needed</li>
<li>wear appropriate clothing for your task, including closed-toe shoes in
any work area</li>
<li>utilize proper lifting techniques</li>
<li>safely stack computers, printers and boxes without blocking aisles,
exits or safety features</li>
<li>wash hands thoroughly after handling computer components</li>
<li>report any unsafe conditions to staff</li>
<li>report any injury to a staff member right away.</li>
</ul>
<h5>Please don't:</h5>
<ul>
<li>bring food or open beverage containers into the work areas</li>
<li>block access to fire extinguishers or circuit breaker boxes</li>
<li>run or engage in horseplay</li>
<li>lift more than is safe for you.</li>
</ul>
<h4>Restrictions</h4>
<ul>
<li>Individuals under the age of 16 must have an adult with them while volunteering.</li>
<li>Individuals who do not speak English or Spanish should be accompanied by a translator.</li>