<style type="text/css">
	.header {font-variant: small-caps; font-weight: bold; font-size: large; }
	.indent {margin-left: 10px;}
	.indent2 {margin-left: 20px;}
</style>
<% provide(:title, 'Page Name Here') %>
<h1>Privacy Policy</h1>

<div class=WordSection1>
<p class="header">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Introduction</p>
<p class="indent">1.1&nbsp;&nbsp;&nbsp;&nbsp; We are committed to safeguarding the privacy of our website visitors; in this policy we explain how we will treat your personal information.</p>

<p class="indent">1.2&nbsp;&nbsp;&nbsp;&nbsp; We will ask you to consent to our use of cookies in accordance with the terms of this policy when you first visit our website. By using our website and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.</p>

<p class="header">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collecting personal information</p>

<p class="indent">2.1&nbsp;&nbsp;&nbsp;&nbsp; We may collect, store and use the following kinds of personal information: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; information
about your computer and about your visits to and use of this website (including
your IP address, geographical location, browser type and version, operating
system, referral source, length of visit, page views and website navigation
paths);</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; information that you provide to us when registering with our website including your email address);</p>

<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; information that you provide when completing your profile on our website (including your name, profile pictures, gender, date of birth, interests and hobbies);</p>

<p class="indent2">(d)&nbsp;&nbsp;&nbsp;&nbsp; information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters (including your name and email address);</p>

<p class="indent2">(e)&nbsp;&nbsp;&nbsp;&nbsp; [information
that you provide to us when using the services on our website, or that is
generated in the course of the use of those services (including [the timing,
frequency and pattern of service use];]</p>

<p class="indent2">(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [information
relating to any purchases you make of our [goods / services / goods and/or
services] or any other transactions that you enter into through our website (including
[your name, address, telephone number, email address and card details];]</p>

<p class="indent2">(g)&nbsp;&nbsp;&nbsp;&nbsp; [information
that you post to our website for publication on the internet (including [your
user name, your profile pictures and the content of your posts]);]</p>

<p class="indent2">(h)&nbsp;&nbsp;&nbsp;&nbsp; [information
contained in or relating to any communications that you send to us or send
through our website (including [the communication content and meta data
associated with the communication]);]</p>

<p class="indent2">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [any
other personal information that you choose to send to us; and]</p>

<p class="indent2">(j)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [[<i
style='mso-bidi-font-style:normal'>provide details of other personal
information collected</i>].]</p>

<p class=seqpara1>2.2&nbsp;&nbsp;&nbsp;&nbsp; Before
you disclose to us the personal information of another person, you must obtain
that person's consent to both the disclosure and the processing of that
personal information in accordance with this policy.</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>4.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Using
your personal information<o:p></o:p></b></p>

<p class=seqpara1>4.1&nbsp;&nbsp;&nbsp;&nbsp; Personal
information submitted to us through our website will be used for the purposes
specified in this policy or on the relevant pages of the website.</p>

<p class=seqpara1>4.2&nbsp;&nbsp;&nbsp;&nbsp; We
may use your personal information to: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; [administer
our website and business;]</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; [personalise
our website for you;]</p>

<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; [enable
your use of the services available on our website;]</p>

<p class="indent2">(d)&nbsp;&nbsp;&nbsp;&nbsp; [send
you goods purchased through our website;]</p>

<p class="indent2">(e)&nbsp;&nbsp;&nbsp;&nbsp; [supply
to you services purchased through our website;]</p>

<p class="indent2">(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [send
statements, invoices and payment reminders to you, and collect payments from
you;]</p>

<p class="indent2">(g)&nbsp;&nbsp;&nbsp;&nbsp; [send
you non-marketing commercial communications;]</p>

<p class="indent2">(h)&nbsp;&nbsp;&nbsp;&nbsp; [send
you email notifications that you have specifically requested;]</p>

<p class="indent2">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [send
you our email newsletter, if you have requested it (you can inform us at any
time if you no longer require the newsletter);]</p>

<p class="indent2">(j)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [send
you marketing communications relating to our business [or the businesses of
carefully-selected third parties] which we think may be of interest to you, by
post or, where you have specifically agreed to this, by email or similar
technology (you can inform us at any time if you no longer require marketing
communications);]</p>

<p class="indent2">(k)&nbsp;&nbsp;&nbsp;&nbsp; [provide
third parties with statistical information about our users (but those third
parties will not be able to identify any individual user from that
information);]</p>

<p class="indent2">(l)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [deal
with enquiries and complaints made by or about you relating to our website;]</p>

<p class="indent2">(m)&nbsp;&nbsp;&nbsp; [keep
our website secure and prevent fraud;]</p>

<p class="indent2">(n)&nbsp;&nbsp;&nbsp;&nbsp; [verify
compliance with the terms and conditions governing the use of our website
[(including monitoring private messages sent through our website private
messaging service)]; and]</p>

<p class="indent2">(o)&nbsp;&nbsp;&nbsp;&nbsp; [[<i
style='mso-bidi-font-style:normal'>other uses</i>].]</p>

<p class=seqpara1>4.3&nbsp;&nbsp;&nbsp;&nbsp; [If
you submit personal information for publication on our website, we will publish
and otherwise use that information in accordance with the licence you grant to
us.]</p>

<p class=seqpara1>4.4&nbsp;&nbsp;&nbsp;&nbsp; [Your
privacy settings can be used to limit the publication of your information on
our website, and can be adjusted using privacy controls on the website.]</p>

<p class=seqpara1>4.5&nbsp;&nbsp;&nbsp;&nbsp; [We
will not, without your express consent, supply your personal information to any
third party for the purpose of their or any other third party's direct
marketing.]</p>

<p class=seqpara1>4.6&nbsp;&nbsp;&nbsp;&nbsp; [All
our website financial transactions are handled through our payment services
provider, [<i style='mso-bidi-font-style:normal'>PSP name</i>]. You can review
the provider's privacy policy at [<i style='mso-bidi-font-style:normal'>URL</i>].
We will share information with our payment services provider only to the extent
necessary for the purposes of processing payments you make via our website,
refunding such payments and dealing with complaints and queries relating to
such payments and refunds.]</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>5.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Disclosing
personal information<o:p></o:p></b></p>

<p class=seqpara1>5.1&nbsp;&nbsp;&nbsp;&nbsp; We
may disclose your personal information to [any of our employees, officers,
insurers, professional advisers, agents, suppliers or subcontractors] insofar
as reasonably necessary for the purposes set out in this policy.</p>

<p class=seqpara1>5.2&nbsp;&nbsp;&nbsp;&nbsp; [We
may disclose your personal information to any member of our group of companies
(this means our subsidiaries, our ultimate holding company and all its subsidiaries)
insofar as reasonably necessary for the purposes set out in this policy.]</p>

<p class=seqpara1>5.3&nbsp;&nbsp;&nbsp;&nbsp; We
may disclose your personal information: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; to
the extent that we are required to do so by law;</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; in
connection with any ongoing or prospective legal proceedings;</p>

<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; in
order to establish, exercise or defend our legal rights (including providing
information to others for the purposes of fraud prevention and reducing credit
risk);</p>

<p class="indent2">(d)&nbsp;&nbsp;&nbsp;&nbsp; [to
the purchaser (or prospective purchaser) of any business or asset that we are
(or are contemplating) selling; and]</p>

<p class="indent2">(e)&nbsp;&nbsp;&nbsp;&nbsp; [to
any person who we reasonably believe may apply to a court or other competent
authority for disclosure of that personal information where, in our reasonable
opinion, such court or authority would be reasonably likely to order disclosure
of that personal information.]</p>

<p class=seqpara1>5.4&nbsp;&nbsp;&nbsp;&nbsp; Except
as provided in this policy, we will not provide your personal information to
third parties.</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>6.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; International
data transfers<o:p></o:p></b></p>

<p class=seqpara1>6.1&nbsp;&nbsp;&nbsp;&nbsp; Information
that we collect may be stored and processed in and transferred between any of
the countries in which we operate in order to enable us to use the information
in accordance with this policy.</p>

<p class=seqpara1>6.2&nbsp;&nbsp;&nbsp;&nbsp; [Information
that we collect may be transferred to the following countries which do not have
data protection laws equivalent to those in force in the European Economic
Area: [the United States of America, Russia, Japan, China and India].]</p>

<p class=seqpara1>6.3&nbsp;&nbsp;&nbsp;&nbsp; [Personal
information that you publish on our website or submit for publication on our
website may be available, via the internet, around the world. We cannot prevent
the use or misuse of such information by others.]</p>

<p class=seqpara1>6.4&nbsp;&nbsp;&nbsp;&nbsp; You
expressly agree to the transfers of personal information described in this
Section 6.</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>7.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Retaining
personal information<o:p></o:p></b></p>

<p class=seqpara1>7.1&nbsp;&nbsp;&nbsp;&nbsp; This
Section 7 sets out our data retention policies and procedure, which are
designed to help ensure that we comply with our legal obligations in relation
to the retention and deletion of personal information.</p>

<p class=seqpara1>7.2&nbsp;&nbsp;&nbsp;&nbsp; Personal
information that we process for any purpose or purposes shall not be kept for
longer than is necessary for that purpose or those purposes.</p>

<p class=seqpara1>7.3&nbsp;&nbsp;&nbsp;&nbsp; [Without
prejudice to Section 7.2, we will usually delete personal data falling within
the categories set out below at the date/time set out below: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; [<i
style='mso-bidi-font-style:normal'>personal data type</i>] will be deleted [<i
style='mso-bidi-font-style:normal'>date/time</i>; and]</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; [<i
style='mso-bidi-font-style:normal'>repeat as necessary</i>].]</p>

<p class=seqpara1>7.4&nbsp;&nbsp;&nbsp;&nbsp; Notwithstanding
the other provisions of this Section 7, we will retain documents (including
electronic documents) containing personal data: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; to
the extent that we are required to do so by law;</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; if
we believe that the documents may be relevant to any ongoing or prospective
legal proceedings; and</p>

<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; in
order to establish, exercise or defend our legal rights (including providing
information to others for the purposes of fraud prevention and reducing credit
risk).</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>8.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Security
of your personal information<o:p></o:p></b></p>

<p class=seqpara1>8.1&nbsp;&nbsp;&nbsp;&nbsp; We
will take reasonable technical and organisational precautions to prevent the
loss, misuse or alteration of your personal information.</p>

<p class=seqpara1>8.2&nbsp;&nbsp;&nbsp;&nbsp; We
will store all the personal information you provide on our secure (password-
and firewall-protected) servers.</p>

<p class=seqpara1>8.3&nbsp;&nbsp;&nbsp;&nbsp; [All
electronic financial transactions entered into through our website will be
protected by encryption technology.]</p>

<p class=seqpara1>8.4&nbsp;&nbsp;&nbsp;&nbsp; You
acknowledge that the transmission of information over the internet is
inherently insecure, and we cannot guarantee the security of data sent over the
internet.</p>

<p class=seqpara1>8.5&nbsp;&nbsp;&nbsp;&nbsp; [You
are responsible for keeping the password you use for accessing our website
confidential; we will not ask you for your password (except when you log in to
our website).]</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>9.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Amendments<o:p></o:p></b></p>

<p class=seqpara1>9.1&nbsp;&nbsp;&nbsp;&nbsp; We
may update this policy from time to time by publishing a new version on our
website.</p>

<p class=seqpara1>9.2&nbsp;&nbsp;&nbsp;&nbsp; You
should check this page occasionally to ensure you are happy with any changes to
this policy.</p>

<p class=seqpara1>9.3&nbsp;&nbsp;&nbsp;&nbsp; [We
may notify you of changes to this policy [by email or through the private
messaging system on our website].]</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>10.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your rights<o:p></o:p></b></p>

<p class=seqpara1>10.1&nbsp;&nbsp; You
may instruct us to provide you with any personal information we hold about you;
provision of such information will be subject to: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; the
payment of a fee (currently fixed at GBP 10); and</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; the
supply of appropriate evidence of your identity [(for this purpose, we will
usually accept a photocopy of your passport certified by a solicitor or bank
plus an original copy of a utility bill showing your current address)].</p>

<p class=seqpara1>10.2&nbsp;&nbsp; We
may withhold personal information that you request to the extent permitted by
law.</p>

<p class=seqpara1>10.3&nbsp;&nbsp; You
may instruct us at any time not to process your personal information for
marketing purposes.</p>

<p class=seqpara1>10.4&nbsp;&nbsp; In
practice, you will usually either expressly agree in advance to our use of your
personal information for marketing purposes, or we will provide you with an
opportunity to opt out of the use of your personal information for marketing
purposes.</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>11.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Third party
websites<o:p></o:p></b></p>

<p class=seqpara1>11.1&nbsp;&nbsp; Our
website includes hyperlinks to, and details of, third party websites.</p>

<p class=seqpara1>11.2&nbsp;&nbsp; We
have no control over, and are not responsible for, the privacy policies and
practices of third parties.</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>12.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Updating
information<o:p></o:p></b></p>

<p class=seqpara1>12.1&nbsp;&nbsp; Please
let us know if the personal information that we hold about you needs to be
corrected or updated.</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>13.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cookies<o:p></o:p></b></p>

<p class=seqpara1>13.1&nbsp;&nbsp; Our
website uses cookies.</p>

<p class=seqpara1>13.2&nbsp;&nbsp; A
cookie is a file containing an identifier (a string of letters and numbers)
that is sent by a web server to a web browser and is stored by the browser. The
identifier is then sent back to the server each time the browser requests a
page from the server.</p>

<p class=seqpara1>13.3&nbsp;&nbsp; Cookies
may be either &quot;persistent&quot; cookies or &quot;session&quot; cookies: a
persistent cookie will be stored by a web browser and will remain valid until
its set expiry date, unless deleted by the user before the expiry date; a
session cookie, on the other hand, will expire at the end of the user session,
when the web browser is closed. </p>

<p class=seqpara1>13.4&nbsp;&nbsp; Cookies
do not typically contain any information that personally identifies a user, but
personal information that we store about you may be linked to the information
stored in and obtained from cookies.</p>

<p class=seqpara1>13.5&nbsp;&nbsp; We
use [only session cookies / only persistent cookies / both session and
persistent cookies] on our website.</p>

<p class=seqpara1>13.6&nbsp;&nbsp; The
names of the cookies that we use on our website, and the purposes for which
they are used, are set out below: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; we
use [<i style='mso-bidi-font-style:normal'>cookie name</i>] on our website to
[recognise a computer when a user visits the website / track users as they
navigate the website / enable the use of a shopping cart on the website /
improve the website's usability / analyse the use of the website / administer
the website / prevent fraud and improve the security of the website /
personalise the website for each user / target advertisements which may be of
particular interest to specific users / [<i style='mso-bidi-font-style:normal'>describe
purpose(s)</i>]];</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; [<i
style='mso-bidi-font-style:normal'>repeat as necessary</i>.]</p>

<p class=seqpara1>13.7&nbsp;&nbsp; Most
browsers allow you to refuse to accept cookies; for example: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; in
Internet Explorer (version 10) you can block cookies using the cookie handling
override settings available by clicking &quot;Tools&quot;, &quot;Internet
Options&quot;, &quot;Privacy&quot; and then &quot;Advanced&quot;;</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; in
Firefox (version 24) you can block all cookies by clicking &quot;Tools&quot;,
&quot;Options&quot;, &quot;Privacy&quot;, selecting &quot;Use custom settings
for history&quot; from the drop-down menu, and unticking &quot;Accept cookies
from sites&quot;; and</p>

<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; in
Chrome (version 29), you can block all cookies by accessing the &quot;Customise
and control&quot; menu, and clicking &quot;Settings&quot;, &quot;Show advanced
settings&quot; and &quot;Content settings&quot;, and then selecting &quot;Block
sites from setting any data&quot; under the &quot;Cookies&quot; heading.</p>

<p class=seqpara1>13.8&nbsp;&nbsp; Blocking
all cookies will have a negative impact upon the usability of many websites.</p>

<p class=seqpara1>13.9&nbsp;&nbsp; If
you block cookies, you will not be able to use all the features on our website.</p>

<p class=seqpara1>13.10 You
can delete cookies already stored on your computer; for example:</p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; in
Internet Explorer (version 10), you must manually delete cookie files (you can
find instructions for doing so at http://support.microsoft.com/kb/278835);</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; in
Firefox (version 24), you can delete cookies by clicking &quot;Tools&quot;,
&quot;Options&quot; and &quot;Privacy&quot;, then selecting &quot;Use custom
settings for history&quot;, clicking &quot;Show Cookies&quot;, and then
clicking &quot;Remove All Cookies&quot;; and</p>

<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; in
Chrome (version 29), you can delete all cookies by accessing the
&quot;Customise and control&quot; menu, and clicking &quot;Settings&quot;,
&quot;Show advanced settings&quot; and &quot;Clear browsing data&quot;, and
then selecting &quot;Delete cookies and other site and plug-in data&quot;
before clicking &quot;Clear browsing data&quot;.</p>

<p class=seqpara1>13.11 Deleting
cookies will have a negative impact on the usability of many websites.</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>14.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Data protection
registration<o:p></o:p></b></p>

<p class=seqpara1>14.1&nbsp;&nbsp; We
are registered as a data controller with the UK Information Commissioner's
Office.</p>

<p class=seqpara1>14.2&nbsp;&nbsp; Our
data protection registration number is [<i style='mso-bidi-font-style:normal'>number</i>].</p>

<p class=seqpara1><b style='mso-bidi-font-weight:normal'>15.<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our details<o:p></o:p></b></p>

<p class=seqpara1>15.1&nbsp;&nbsp; This
website is owned and operated by [<i style='mso-bidi-font-style:normal'>name</i>].</p>

<p class=seqpara1>15.2&nbsp;&nbsp; [We
are registered in [England and Wales] under registration number [<i
style='mso-bidi-font-style:normal'>number</i>], and our registered office is at
[<i style='mso-bidi-font-style:normal'>address</i>].]</p>

<p class=seqpara1>15.3&nbsp;&nbsp; Our
principal place of business is at [<i style='mso-bidi-font-style:normal'>address</i>].</p>

<p class=seqpara1>15.4&nbsp;&nbsp; You
can contact us by writing to the business address given above, by using our
website contact form, by email to [<i style='mso-bidi-font-style:normal'>email
address</i>] or by telephone on [<i style='mso-bidi-font-style:normal'>telephone
number</i>].</p>

<span style='font-size:11.0pt;line-height:115%;font-family:Calibri;mso-fareast-font-family:
Calibri;mso-bidi-font-family:"Times New Roman";mso-ansi-language:EN-US;
mso-fareast-language:EN-US;mso-bidi-language:AR-SA'><br clear=all
style='mso-special-character:line-break;page-break-before:always'>


<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=seqheading1>Drafting notes for free privacy policy</p>

<p class=seqpara2>Our standard website privacy policy
template, designed to aid compliance with data protection legislation. This
includes disclosures about the categories of personal information that are
collected, website cookies, the ways in which that personal information may be
used, the persons to whom the personal information may be disclosed, the
security measures used to protect the personal information, and much else
besides.</p>

<p class=seqpara2>Our privacy policy document is designed for
use in relation websites which collect and process personal information. Its
purpose is to help website operators meet their obligations under UK data
protection legislation.</p>

<p class=seqpara2>The privacy policy document covers, amongst
other things, the following matters: details of personal information collected
by the website; information about cookies used by the site; details of how personal
information is used; details of specific situations in which personal
information may be disclosed to third parties; information about extra-EEA
transfers of personal data; and information about data security.</p>

<p class=seqpara2>Please read the notes accompanying the
privacy policy very carefully. You will of course need to adapt the privacy
policy to suit your website and business.</p>

<p class=seqpara2>It may not be suitable for websites which
collect or process large volumes of personal information or sensitive personal
information; nor may it be it suitable for websites which make complex or
unusual or unexpected uses of personal information.</p>

<p class=seqpara2>In relation to cookies, the privacy policy
includes a statement to the effect that users consent to the use of cookies.
However, this will not necessarily satisfy the cookies consent requirement
under the new cookie laws.</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
1 - Introduction</b></p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
1.1</i></p>

<p class=seqpara2>&quot;Personal information&quot;: for
day-to-day purposes, it is best to assume that all information which relates to
a living individual constitutes personal information.</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
1.2</i></p>

<p class=seqpara2>How will you gain users' consent to the use
of cookies?</p>

<p class=seqpara2>The inclusion of this statement in your
privacy policy will not in itself satisfy the requirements of the Privacy and
Electronic Communications (EC Directive) Regulations 2003 as regards consent to
the use of cookies. Guidance concerning methods of obtaining such consent is
included on the Information Commissioner's website (http://www.ico.gov.uk).</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
3 - Collecting personal information</b></p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
3.1</i></p>

<p class=seqpara2>What types of personal information will or
might the website operator collect?</p>

<p class=seqpara2>(a) - What analytics data will you collect?</p>

<p class=seqpara2>(b) - What information will be collected
from users who register with the website?</p>

<p class=seqpara2>(c) - What profile information is collected
through the website?</p>

<p class=seqpara2>(d) - What information will be collected
from users who subscribe to website services, email notifications and/or
newsletters?</p>

<p class=seqpara2>(e) - What information is processed in
connection with the provision of website services?</p>

<p class=seqpara2>(f) - What can be purchased through the website:
goods, services or both? What transactional data will be collected from users?</p>

<p class=seqpara2>(g) - What personal information can a user
publish through the website?</p>

<p class=seqpara2>(h) - What communications information may be
collected?</p>

<p class=seqpara2>(j) - What other types of information might
you collect?</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
4 - Using your personal information</b></p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
4.2</i></p>

<p class=seqpara2>For what purposes will the website operator
use personal information collected through the website?</p>

<p class=seqpara2>(j) - Might marketing communications relate
to third party businesses?</p>

<p class=seqpara2>(n) - Will private messages sent by users be
monitored to ensure compliance with website terms and conditions?</p>

<p class=seqpara2>(o) - For what other purposes might personal
data collected through the website be used?</p>

<p class=seqpara2>You must list here the uses to which you
will (or may in future) put personal data. We have suggested some common
categories.</p>

<p class=seqpara2>As a general rule, where you plan to use
personal information you have collected for the purpose of direct marketing,
this should be made clear on the page where the information is collected, and
you should ensure that this only happens if users opt in to the marketing (eg
&quot;Click here if you would like us to send you information by email about
products which we think will interest you.&quot;). There are, however,
exceptions to this general rule. There are also rules about the content of
direct marketing communications. If you are in any doubt about complying with
your legal obligations in relation to direct marketing, you should seek
professional advice.</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
4.3</i></p>

<p class=seqpara2>Will users have the opportunity to publish
any personal information on the website?</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
4.4</i></p>

<p class=seqpara2>Consider whether to include this element in
the document.</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
4.5</i></p>

<p class=seqpara2>Will the website undertake in this document
not to supply any user's personal information to a third party for the purpose
of third party direct marketing?</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
4.6</i></p>

<p class=seqpara2>Will the website operator pass any personal
information to any third party payment services provider?</p>

<p class=seqpara2>What is the name of the payment services
provider that processes website transactions? At what web address can the privacy
policy of the payment services provider be found?</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
5 - Disclosing personal information</b></p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
5.1</i></p>

<p class=seqpara2>To which categories of person may personal
information collected through the website be disclosed?</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
5.2</i></p>

<p class=seqpara2>Is the website operator part of a group of
companies in circumstance where one or more of those other group companies
might need access to personal information collected by reference to this
document?</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
5.3</i></p>

<p class=seqpara2>(d) - Does the website operator need a right
to disclose personal data to business purchasers and potential business
purchasers?</p>

<p class=seqpara2>(e) - Does the website operator require a
right to disclose personal data in anticipation of a court judgment or
regulatory action?</p>

<p class=seqpara2>A website operator may be obliged to
disclose personal data to a third party under various laws. For example, under
the Defamation Act 2013 and the Defamation (Operators of Websites) Regulations
2013, a website operator may be required to pass personal data between a
complainant and a poster - i.e. a person who posts on the website material
which may be defamatory of the claimant.</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
6 - International data transfers</b></p>

<p class=seqpara2>Give as much detail as possible about any
such international transfers. You need to be aware that the inclusion of this
provision will not be sufficient to ensure that all international transfers of
personal data are lawful. If in doubt, you should seek professional advice on
this point.</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
6.2</i></p>

<p class=seqpara2>Will any personal data be transferred
outside the EEA?</p>

<p class=seqpara2>To which countries outside the EEA may
personal data be transferred?</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
6.3</i></p>

<p class=seqpara2>Will users have the opportunity to publish
personal information on the website?</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
6.4</i></p>

<p class=seqpara2>This consent statement is unlikely to create
an effective consent to extra-EEA transfers on its own.</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
7 - Retaining personal information</b></p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
7.3</i></p>

<p class=seqpara2>Does the website operator have any specific
policies in place regarding time periods for the deletion of personal data?</p>

<p class=seqpara2>(a) - Specify a category of personal data.
Specify the date/time when that personal data will usually be deleted.</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
8 - Security of your personal information</b></p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
8.2</i></p>

<p class=seqpara2>There is an obligation upon data controllers
to store personal data securely.</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
8.3</i></p>

<p class=seqpara2>Consider whether to include this element in
the document.</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
8.5</i></p>

<p class=seqpara2>Consider whether to include this element in
the document.</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
9 - Amendments</b></p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
9.3</i></p>

<p class=seqpara2>Will you ever contact users to notify them
of changes to the document? </p>

<p class=seqpara2>How will users be notified of changes to the
document?</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
10 - Your rights</b></p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
10.1</i></p>

<p class=seqpara2>(b) - What evidence of identity will you
require before fulfilling a data protection subject access request?</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
13 - Cookies</b></p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
13.5</i></p>

<p class=seqpara2>What types of cookies will be used on the
website?</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
13.6</i></p>

<p class=seqpara2>(a) - What is the name of the cookie? For
what purpose is the cookie used? Describe the purpose or purposes for which the
cookie is used.</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
14 - Data protection registration</b></p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
14.2</i></p>

<p class=seqpara2>What is the website operator's data
protection registration number?</p>

<p class=seqpara2><b style='mso-bidi-font-weight:normal'>Section
15 - Our details</b></p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section 15.1</i></p>

<p class=seqpara2>What is the name of the company, partnership,
individual or other legal person or entity that owns and operates the website?</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
15.2</i></p>

<p class=seqpara2>Is the website operator a company?</p>

<p class=seqpara2>In what jurisdiction is the website operator
registered? What is the website operator's company registration number or equivalent?
What is the website operator's registered address?</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
15.3</i></p>

<p class=seqpara2>Where is the website operator's head office
or principal place of business?</p>

<p class=seqpara2><i style='mso-bidi-font-style:normal'>Section
15.4</i></p>

<p class=seqpara2>What is the website operator's contact email
address? What is the website operator's contact telephone number?</p>

</div>

</body>

</html>

