<% provide(:title, 'Reuse') %>
<h1>Reuse Over Recycle</h1>
<div style="float: left; margin-right: 10px; margin-bottom: 10px">
	<img src="<%= image_path('old_computers.jpg') %>" width="220px">
</div>
<p>We try to reuse as much material as we can by refurbishing and reselling. We also give away a portion of equipment through our charitably programs. Unlike some opportunistic recyclers, those items we can't reuse are handled with the highest ethical and environmental standards.</p>
<p>Obsolete computers and old electronics are valuable sources for secondary raw materials, if recycled; if not, these devices are a source of toxins and carcinogens. Rapid technology change, low initial cost, and planned obsolescence have resulted in a fast-growing surplus of computers and other electronic components around the globe. </p>
<div style="float: right; margin-left: 10px;">
	<img src="<%= image_path('reuse.png') %>" width="220px">
</div>
<p><%= site_name_bold %> has filed paperwork to become 501(c)(3) nonprofit corporation. Once this process is complete all of you donations will be tax deductible.</p>
<p>Your donation helps <%= site_name_bold %> volunteers get computer technology into the hands of people who need it including the disadvantaged, schools, non-profits, and other community change organizations. Donations also help pay for free classes, tech support, and volunteer programs to ensure that everyone in the greater Clackamas county area has access to a strong base of computer user skills.</p>
<section id="body">
  
</section>
