<% provide(:title, 'Reuse') %>
<h1>Reuse Over Recycle</h1>
<p>We try to reuse as much material as we can by refurbishing and reselling. We also give away a portion of equipment through our charitably programs. Unlike some opportunistic recyclers, those items we can't reuse are handled with the highest ethical and environmental standards.</p>
<p><strong><%= site_name_short %></strong> has filed paperwork to become 501(c)(3) nonprofit corporation. Once this process is complete all of you donations will be tax deductible.</p>
<p>Your donation helps <% site_name_short %> volunteers get computer technology into the hands of people who need it including the disadvantaged, schools, non-profits, and other community change organizations. Donations also help pay for free classes, tech support, and volunteer programs to ensure that everyone in the greater Clackamas county area has access to a strong base of computer user skills.</p>
<section id="body">
  
</section>
