<% provide(:title, 'Secure') %>
<h1>Your Data's Security is Assured</h1>
<div style="float: left; margin-right: 10px;">
	<img src="<%= image_path('security.jpg') %>" width="260px">
</div>
<p>Even if you reformatted your hard drive, it’s possilbe for someone with the right knowledge to resurrect your data using recovery software. That means that personal information, financial account numbers and software serial numbers are potentially available for someone to exploit.</p>
 
<p><%= site_name_short %>'s data wipe service uses the same methods used by the U.S. Department of Defense to permanently remove your data. Once it’s gone, it’s gone.</p>

<p>This <a href="http://lifehacker.com/5835369/how-do-i-securely-wipe-a-computer-before-donating-it-to-charity">blog post</a> has some good tips to protect yourself once you decide to recycle your computer or electronic device.</p>

<p>Obsolete computers and old electronics are valuable sources for secondary raw materials, if recycled; if not, these devices are a source of toxins and carcinogens. Rapid technology change, low initial cost, and planned obsolescence have resulted in a fast-growing surplus of computers and other electronic components around the globe. </p>